html { 
	background-image: url("bg.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;	
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-size: large !important;
	color: #FFF !important;
	font-family: Courier, monospace !important;

  }

body {
	margin: 0;
}

.bluebg{
	background-color: rgba(17, 29, 94, 0.7);
}
.skinbg{
	background-color: #ffbd69;
}

.redbg{
	background-color: #c70039;
}
.orangebg{
	background-color: #f37121;
}

.blueborder{
	border-color: #111d5e;
}
.skinborder{
	border-color: #ffbd69;
}

.redborder{
	border-color: #c70039;
}
.orangeborder{
	border-color: rgba(243, 113, 33, 0.9);
}

.thumb {
	border-style: dashed;
	padding: 1%;
	border-radius: 15px;
	display: table-cell;
	transition: all 0.3s ease-in;
}

.image {
	width: 100%;
	height: auto;
	border-radius: 3px;
}

h3{
	text-align: center;
	width:100%;
}

.row{
	display: table;
    width: 100%; /*Optional*/
    table-layout: fixed; /*Optional*/
	border-spacing: 10px; /*Optional*/
}
.grid {
	width: 70%;
	padding: 15%;
}

.scale-up {
	transform: scale(1.8);
	font-size: small !important;
}
.scale-down {
	transform: scale(0.0);
	display: hidden;
}